.tweet-text {
    font: 500 16px 'Lato', sans-serif;
    text-align: left;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.tweet-id {
    font: 500 16px 'Lato', sans-serif;
    font-size: 0.8em;
    float: left;
    margin-top: 10px;
}

.tweet-div {
    margin-bottom: 1em;
    margin-right: 5px;
}

.tweet-link-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.tweet-link-button:hover {
    background-color: #f0f0f0;
}